body {
     margin: 0;
     padding: 0;
     text-align: center;
     background-image: url("picture/2.jpg");
}
.bg {
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 1;
     float: left;
     left: 0;
}
.content {
   width: 100%;
   height: auto;
   margin: 0 auto;
   position: relative;
   z-index: 5;
   padding: 30px;
   text-align: left;
}
.t1{
  font-weight: bold;
  color: black;
  font-size:20px;
  font-family: arial;
}

.t2{
  font-weight: bold;
  color: black;
  font-size:20px;
  text-align: left;
  font-family: arial;
}

.t3{
  font-weight: bold;
  color: black;
  font-size:15px;
  font-family: arial;
}

.h1{

  font-weight: bold;
  color: black;
  font-size:40px;
  text-align: left;
}
.wrapper {
		width: 960px;
		padding:50px;
		background:rgba(255,255,500,.5);
		margin: 20px auto 20px auto;
		border: 0px;
	}